body {margin:0;}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #1e57a6;
  color: white;
}

.topnav .icon {
  display: none;
}

.opmaken-kas{
  width: 75%;
  background: #84bebd;
  height: 150px;
  margin: 0 auto;
  margin-top: 16px;
}

.overzicht-kas{
  width: 75%;
  background: #a9dd2d;
  height: 150px;
  margin: 0 auto;
  margin-top: 16px;
}

.opmaken-kas, .overzicht-kas{
  cursor: pointer;
}

.opmaken-kas p, .overzicht-kas p{
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}