body {margin:0;}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #1e57a6;
  color: white;
}

.topnav .icon {
  display: none;
}

h1{
  text-align: center;
}

.overview-container{
  width: 90%;
  height: 600px;
  background-color: #cae7e7;
  margin: 0 auto;
  padding: 8px;
}

.overview-container h2{
  text-align: center;
}

.overview-container p{
  margin-top: 20px;
}

.info-container p{
  padding: 12px;
}

.open{
  background: #4388ee;
  height: 150px;
  margin: 0 auto;
  margin-top: 16px;
}

.mail{
  background: #f44336;
  height: 150px;
  margin: 0 auto;
  margin-top: 16px;
}

.open, .mail{
  cursor: pointer;
}

.open p, .mail p{
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}